{% extends "base.html" %}

{% block title %}Dashboard {% endblock %}

{% block content %}
<center>
<table border = "0">
<tr>
<td>
<h2>7 Day Milage:</h2>
</td>
<td>
<h2>{{ weekly_milage }}</h2>
</td>
</tr>
<tr>
<td>
<h2>6 Weekly Milage Average:</h2>
</td>
<td>
<h2>{{ six_week_avg }}</h2>
</td>
</tr>
<tr>
<td>
<h2>Monthly Miles:</h2>
</td>
<td>
<h2>{{ monthly_milage }}</h2>
</td>
</tr>
<tr>
<td>
<h2>Days Run This Week:</h2>
</td>
<td>
<h2>{{ days_run_week }}</h2>
</td>
<tr>
<td>
<h2>YTD Milage:</h2>
</td>
<td>
<h2>{{ yearly_milage }}</h2>
</td>
</tr>
</table>
<table id="hor-zebra" border = "0">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Distance</th>
            <th scope="col">Time</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% for run in recent_runs %}
<tr class="{% cycle 'even' 'odd' %}">
<td>
{{ run.date }}
</td>
<td>
{{ run.distance }}
</td>
<td>
{{ run.hours }}:{{ run.minutes }}:{{ run.seconds }}
</td>
<td>
<a href="/delete/{{ run.id }}">delete</a>
</td>
</tr>
{% endfor %}
</table>

</center>
{% endblock %}
