{% extends "base.html" %}

{% block title %}Dashboard {% endblock %}

{% block extra_headers %}
<link href="{{ STATIC_URL }}css/week_cal.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}js/week_cal.js"></script>
{% endblock %}

{% block content %}
<div id="week_cal"></div>
<table border = "0">
<tr>
    <td>
        {% ifequal units "mi" %}
        <h2>7 Day Mileage:</h2>
        {% else %}
        <h2>7 Day Kilometerage:</h2>
        {% endifequal %}
</td>
<td>
<h2>{{ weekly_distance }}</h2>
</td>
</tr>
<tr>
    <td>

        {% ifequal units "mi" %}
        <h2>6 Week Mileage Average:</h2>
        {% else %}
        <h2>6 Week Kilometerage Average:</h2>
        {% endifequal %}
</td>
<td>
<h2>{{ six_week_avg }}</h2>
</td>
</tr>
<tr>
<td>
        {% ifequal units "mi" %}
        <h2>Monthly Mileage:</h2>
        {% else %}
        <h2>Monthly Kilometerage:</h2>
        {% endifequal %}
</td>
<td>
<h2>{{ monthly_distance }}</h2>
</td>
</tr>
<tr>
<td>
<h2>Days Run This Week:</h2>
</td>
<td>
<h2>{{ days_run_week }}</h2>
</td>
<tr>
<td>
        {% ifequal units "mi" %}
        <h2>Year to Date Mileage:</h2>
        {% else %}
        <h2>Year to Date Kilometerage:</h2>
        {% endifequal %}
</td>
<td>
<h2>{{ yearly_distance }}</h2>
</td>
</tr>
</table>
<br/>
<h2>Recent Runs:</h2>
<br/>
<table id="hor-zebra" border = "0">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Distance</th>
            <th scope="col">Time</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% for run in recent_runs %}
<tr class="{% cycle 'even' 'odd' %}">
<td>
{{ run.date }}
</td>
<td>
{{ run.distance }}
</td>
<td>
{{ run.hours }}:{{ run.minutes }}:{{ run.seconds }}
</td>
<td>
<a href="/delete/{{ run.id }}">delete</a>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
