{% extends "base.html" %}

{% block title %}List Runs{% endblock %}

{% block content %}
<table id="hor-zebra" border = "0">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Distance</th>
            <th scope="col">Time</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% for run in object_list %}
<tr class="{% cycle 'even' 'odd' %}">
<td>
{{ run.date }}
</td>
<td>
{{ run.distance }}
</td>
<td>
{{ run.hours }}:{{ run.minutes }}:{{ run.seconds }}
</td>
<td>
<a href="/delete/{{ run.id }}">delete</a>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
