h1,h2,h3,h4,h5,h6 {
    display: inline;
}

body {
    background-color: #0073EA;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
    color:#564b47;
    padding:20px;
    margin:0px;
    text-align: center;
}

#page {
    text-align: left;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0px;
    width: 960px;
    background-color: #ffffff;
    border: 3px #564b47;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

p, h1, pre {
    margin: 0px;
    padding: 5px 10px;
}

h1 {
    font-size: 11px;
    text-transform:uppercase;
    text-align: right;
    color: #564b47;
    background-color: #90897a;
}

a {
    color: #ff66cc;
    font-size: 11px;
    background-color:transparent;
    text-decoration: none;
}

pre {
    color: #564b47;
    font-size: 11px;
    background-color:transparent;
    font-family: Courier, Monaco, Monospace;
}



#hor-zebra
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#hor-zebra th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
}
#hor-zebra td
{
    padding: 8px;
    color: #669;
}
#hor-zebra .odd
{
    background: #e8edff;
}

#ver-zebra
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#ver-zebra th
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #039;
}

#ver-zebra td
{
    padding: 8px 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #669;
}

.vzebra-odd
{
    background: #eff2ff;
}

.vzebra-even
{
    background: #e8edff;
}

#ver-zebra #vzebra-adventure, #ver-zebra #vzebra-children
{
    background: #d0dafd;
    border-bottom: 1px solid #c8d4fd;
}

#ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action
{
    background: #dce4ff;
    border-bottom: 1px solid #d6dfff;
}

