table.month {
    border-width: 1px;
}

table.month td {
    border: 1px solid #484848;
    overflow: hidden;
    width: 100px;
    height: 100px;
    position: relative;
}

table.month th {
    border: 1px solid #484848;
    overflow: hidden;
    width: 100px;
    height: 25px;
    background: #A0A0A0;
}

table.month td.today {
    background: #99FF99;
}

table.month td div.day {
    position:absolute;
    top:0px;
    right:5px;
    color: #808080;
}

table.month span.run {
    margin: 1px;
    display: block;
    background:#3366FF;
    width: 100%;
    font-size: 0.75em;
}
